.git
.github
.vscode
.zed
.idea
.claude
.agents

**/node_modules

**/dist
**/.output
**/.nuxt
**/.vite-hooks

.env
.env.*
**/.env
**/.env.*
!**/.env.example

tests/**
!tests/package.json

*.log
.DS_Store
screenshot.webp
**/coverage
README.md
**/README.md
